#manual {
  background-color: #333;
}
#auto {
  background-color: #ccc;
}
 
/* manual quality selection widget */
.flowplayer .fp-qsel {
  position: absolute;
  top: 40px;
  right: 5px;
}
.flowplayer.is-mouseout .fp-qsel {
  opacity: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  /* same transition as other ui elements like fullscreen */
  -webkit-transition: opacity .15s .3s;
  -moz-transition: opacity .15s .3s;
  transition: opacity .15s .3s;
}
.flowplayer.is-mouseover .fp-qsel {
  opacity: 1;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
}
/* hide selector in splash state */
.flowplayer.is-splash .fp-qsel {
  display: none;
}
 
/* buttons */
.flowplayer .fp-qsel div {
  padding: 0.5ex;
  margin: 0 0.5ex 1ex 0;
  font-weight: bold;
  font-size: 90%;
  color: #080808;
  background-color: #eee;
  background-color: rgba(238, 238, 238, 0.8);
  cursor: pointer;
  -webkit-border-radius: 1ex;
  -moz-border-radius: 1ex;
  border-radius: 1ex;
}
.flowplayer.is-fullscreen .fp-qsel div {
  font-size: 100%;
}
.flowplayer .fp-qsel div.fp-selectedres {
  color: #00a7c8;
  background-color: #333;
  background-color: rgba(51, 51, 51, 0.6);
  cursor: default;
}